@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  font-style: normal;
  src: url("./assets/fonts/Roboto-Thin.ttf") format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: normal;
  src: url("./assets/fonts/Roboto-Light.ttf") format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: url("./assets/fonts/Roboto-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  src: url("./assets/fonts/Roboto-Medium.ttf") format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  src: url("./assets/fonts/Roboto-Bold.ttf") format('truetype');
}

@font-face {
  font-family: 'Zen';
  font-weight: 300;
  font-style: normal;
  src: url("./assets/fonts/Zen-Light.ttf") format('truetype');
}

@font-face {
  font-family: 'Zen';
  font-weight: 400;
  font-style: normal;
  src: url("./assets/fonts/Zen-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Zen';
  font-weight: 500;
  font-style: normal;
  src: url("./assets/fonts/Zen-Medium.ttf") format('truetype');
}

@font-face {
  font-family: 'Zen';
  font-weight: 700;
  font-style: normal;
  src: url("./assets/fonts/Zen-Bold.ttf") format('truetype');
}

@font-face {
  font-family: 'Caveat';
  font-weight: 400;
  font-style: normal;
  src: url("./assets/fonts/Caveat-Regular.ttf") format('truetype');
}
